.react-datepicker {
  font-family: 'Noto Sans KR', serif;
  padding: 20px 16px;
  border-radius: 5px;
  /* border: 1px solid #F0F2F3; */
  background: #FFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);


  .react-datepicker__header {
    background-color: #fff;
    border-bottom: none;

    .react-datepicker__day-names {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;

      .react-datepicker__day-name {
        color: #9C9C9C;
      }
      
    }
    
  }

  .react-datepicker__day--outside-month {
    color: #BEBEBE;
  }

  .react-datepicker__triangle {
    display: none;
  }
}
